
# --- Operating System Files ---
.DS_Store

# --- Any posibly sensitve files ---
*.ignore
*.private
*.secret
*.secrets
.env

# --- Common IDEs / Text Editors ---
.vscode/
*.swp

# --- Standard default OpenSSH private/public pairs ---
id_rsa
# id_rsa.pub
id_ed25519
# id_ed25519.pub
id_ecdsa
# id_ecdsa.pub
id_dsa
# id_dsa.pub